
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

body{
    font-family: "Merriweather", serif;
    color: #333333;
}
nav{
    text-align: center;
}
nav img{
    height: 60px;
    padding: 8px 0;
}
main{
    width: 780px;
    margin-inline: auto;
}
h1{
    text-align: center;
    color: #333333;
    margin-top: 64px;
    margin-bottom: 40px;
    font-size: 32px;
    font-weight: 900;
}
a{
    color: #2b8081;
}
li{
    padding-bottom: 20px ;
}
h2{
    border-bottom: 1px solid #C4F3F2;
    padding: 16px 0;
    font-weight: 400;
}
h3{
    font-weight: 900;
}

video {
    width: 100%;
    border-radius: 16px;
    -webkit-box-shadow: 3px 5px 15px 0px rgba(181,181,181,0.87); 
    box-shadow: 3px 5px 15px 0px rgba(181,181,181,0.87);
}
nav p{
    background-color: #FDFBF1;
    color: #356C6A;
    margin: 0;
    padding: 20px 0;
    margin-top: 10px;
    border-top: solid #FFD877 2px;
    font-size: 14px;
}
figcaption{
    text-align: center;
    color: #999999;
    margin: 20px 0;
}
footer div{
    width: 780px;
    margin-inline: auto;
    padding: 10px 0;
}
.featured{
    color: #B5460F;
}
.featured-a{
    display: inline;
}
.featured-in{
    padding-left: 10px;
    border-left: solid #FFD877 2px ;
    margin-bottom: 60px;
}
.method{
    padding: 0;
}